<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<%= search_form_for @q, url: search_tasks_path do |f| %>
    <%= f.label :title_or_description_cont, 'キーワード' %>
    <%= f.search_field :title_or_description_cont %>
    <%= f.label :deadline, '期間' %>
    <%= f.date_field :deadline_gteq,
                  include_blank: true,
                  class: 'form-control'%>〜
    <%= f.date_field :deadline_lteq_end_of_day, 
    include_blank: true,
    class: 'form-control'%>
    <%= f.label :status, 'ステータス' %>
    <%= f.radio_button :status_eq, '' %>指定しない
    <%= f.radio_button :status_eq, '0' %>todo
    <%= f.radio_button :status_eq, '1' %>doing
    <%= f.radio_button :status_eq, '2' %>done
    <br>
    <%= f.submit '検索' %>
    <% end %>
  
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>description</th>
      <th>Status</th>
      <th><%= sort_link(@q, :deadline, "Deadline") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.status %></td>
        <td><%= task.deadline.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
